


.cs-lineworkSVG{
    display: block;
    border:1px solid red;
    width:60%;
    margin:auto;
    position: relative;
    left:-10%;
}

svg#circlesSVG{
// width:100%;
// height:auto;
// display:block;

}
.cs-headline{
    position: absolute;
    top:0;left:0;
}
