

@import "scss/_mixins.scss";

h3{
    text-align:center;
    margin-bottom:5vh;
}

.contrasting-slideshow{
    // border:1px solid lightgreen;
    position: relative;
    display:block;
    // height:30vh;
    // min-height:300px;
    // max-height:500px;
    width:100%;
    height:30vw;
    // height:60vw;
    background-color:lightgray;
    margin:0 auto 20vh auto;
}


.contrasting-slideshow.slick-slider{

     .slick-list, .slick-track{
        height:100%;
    }

    .cs-slide{
        display:block;
        position:absolute;
        // position:relative;
        // top:0; left:0;
        // bottom:0; right:0;
        width:100%;
        height:100%;
        // min-height:300px;
        // max-height:400px;
        overflow:hidden;

        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;


        &[data-cs-type="left"] {
            flex-direction: row;
        }
        &[data-cs-type="right"] {
            flex-direction: row-reverse;
        }
        &[data-cs-type="fade"] {
            flex-direction: row;
            .cs-war, .cs-peace {
                with:100%;
                position: absolute;
                background-size: cover !important;
            }
        }


        .cs-war,
        .cs-peace{
            display: block;
            width:100%;
            height:100%;
            position: relative;
            // position:absolute;
            // top:0; left:0;
            // bottom:0; right:0;

            background-position: center center;
            background-repeat:no-repeat;
            background-size: 60vw auto !important;
            // background-size: 100px 50px !important;
            // background-size: cover !important;
            // background-size: contain !important;

            overflow:hidden;
            // border:5px solid gold;

            img{
                position: block;
                width:100%;
                height:auto;
                // height:100%;
                // width:100%;
            }
        }


        .cs-war{
            z-index:2;
            flex:0 0 auto;
            // flex-basis:20%;
            width: 40%;
        }
        .cs-peace{
            z-index: 1;
            flex:0 0 auto;
            // flex-basis:80%;
            width: 60%;
        }



    }

}

//
// .cs-show1{
//     .cs-war{
//         background-image: url('http://lorempixel.com/g/1000/400/abstract/4');
//         // background-position: center;
//         // background-size: cover;
//     }
//     .cs-peace{
//         background-image: url('http://lorempixel.com/1000/400/abstract/1');
//         // background-position: center;
//         // background-size: cover;
//     }
// }



.grayscale{
    filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
}
