h3 {
  text-align: center;
  margin-bottom: 5vh; }

.contrasting-slideshow {
  position: relative;
  display: block;
  width: 100%;
  height: 30vw;
  background-color: lightgray;
  margin: 0 auto 20vh auto; }

.contrasting-slideshow.slick-slider .slick-list, .contrasting-slideshow.slick-slider .slick-track {
  height: 100%; }
.contrasting-slideshow.slick-slider .cs-slide {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }
  .contrasting-slideshow.slick-slider .cs-slide[data-cs-type="left"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .contrasting-slideshow.slick-slider .cs-slide[data-cs-type="right"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .contrasting-slideshow.slick-slider .cs-slide[data-cs-type="fade"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .contrasting-slideshow.slick-slider .cs-slide[data-cs-type="fade"] .cs-war, .contrasting-slideshow.slick-slider .cs-slide[data-cs-type="fade"] .cs-peace {
      with: 100%;
      position: absolute;
      background-size: cover !important; }
  .contrasting-slideshow.slick-slider .cs-slide .cs-war,
  .contrasting-slideshow.slick-slider .cs-slide .cs-peace {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60vw auto !important;
    overflow: hidden; }
    .contrasting-slideshow.slick-slider .cs-slide .cs-war img,
    .contrasting-slideshow.slick-slider .cs-slide .cs-peace img {
      position: block;
      width: 100%;
      height: auto; }
  .contrasting-slideshow.slick-slider .cs-slide .cs-war {
    z-index: 2;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 40%; }
  .contrasting-slideshow.slick-slider .cs-slide .cs-peace {
    z-index: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 60%; }

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: url(#greyscale);
          filter: url(#greyscale);
  -webkit-filter: gray;
          filter: gray; }

/*# sourceMappingURL=contrasting-slideshow.css.map */